{% extends "::index.html.twig" %}

{% block css %}

	{{ parent() }}
	<link rel="stylesheet" href="css/category/category.css">

{% endblock %}

{% block title %}Ajout de produits{% endblock %}

{% block body %}

	<h1>Ajouter un produit</h1>

	{% if error is defined %}
	
		<p> {{error}} </p>
	
	{% endif %}

	{{ form(form) }}

{% endblock %}
