<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="padding:2px" href="/">
                <img alt="Brand"  src="images/logo.png" height="46px">
            </a>


        </div>
        <div class="collapse navbar-collapse pull" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Produit</a>
		            <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
                        <li><a href="/product">Gestion de produits</a></li>
                        <li role="separator"class="divider"></li>
                        <li><a href="/category">Gestion de categories produits</a></li>
                    </ul>
                </li>
	           	<li>
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Panier</a>
		            <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
                        <li><a href="/basket">Gestion de paniers</a></li>
                        <li role="separator"class="divider"></li>
                        <li><a href="/basket_category">Gestion de categories paniers</a></li>
                    </ul>
                </li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Stock</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
                        <li><a href="/stock">Stock de produits</a></li>
                    </ul>
                </li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Commande</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
                        <li><a href="/orders">Commandes en cours</a></li>
                    </ul>
                </li>
                <!--li class="dropdown">
                    <a href="/" >Déconnexion</a>
                </li-->
            </ul>
        </div>
    </div>

</nav>

