<!doctype html>
<html lang="en">
  <head>
    <title>EcoMeal</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">

    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script src="jquery.min.js"></script> 

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

  </head>	
  <body style="background-color: #eeeeee">
	

{% include 'topbar.html' %}

  
<div class="container-fluid" style="margin-top:40px">
    <div class="content-container col-lg-12 col-md-12 col-xs-12">
 	{% block body %}{% endblock %} 
    </div>   
  </div>

  </body>
</html>
