{% extends "::index.html.twig" %}

{% block css %}

	{{ parent() }}
	<link rel="stylesheet" href="css/category/category.css">

{% endblock %}

{% block title %}Ajout de catégories{% endblock %}

{% block body %}

<h1>HELLO</h1>
	
{% endblock %}
