{% extends "index.html.twig" %}

{% block body %}

	<h1> Connexion </h1>

	{% block fos_user_content %}
    	{{ include('@fos_security/login_content.html.twig') }}
	{% endblock fos_user_content %}

{% endblock %}