{% extends "::index.html.twig" %}

{% block css %}

    {{ parent() }}

{% endblock %}

{% block title %}Delivery promise list{% endblock %}


{% block body %}
<h1>Welcome to the DeliveryPromise:getAllDeliveryPromise page</h1>

    {% if delivery_list is defined %}
        {% for deliveryPromise in delivery_list %}

            <div id="product{{ deliveryPromise.id }}" class="card-container col-xs-12 col-sm-4 col-md-3 col-lg-2">

                {% for stockPromise in deliveryPromise.deliveryContent %}

                    {{ stockPromise.product.name }} x {{ stockPromise.quantity }}

                {% endfor %}
            </div>

        {% endfor %}
    {% endif%}

{% endblock %}
